<ul nz-menu nzMode="inline" class="sider-menu">
  <li nz-submenu nzOpen nzIcon="laptop" nzTitle="门户">
    <ul>
      <li nz-menu-item nzSelected routerLink="/portal/index">首页</li>
      <li nz-menu-item routerLink="/portal/workbench">工作台</li>
      <li nz-menu-item routerLink="/portal/setting">设置</li>
    </ul>
  </li>
  <li nz-submenu nzIcon="project" nzTitle="项目管理">
    <ul>
      <li nz-menu-item routerLink="/project/apply">项目申报</li>
      <li nz-menu-item routerLink="/project/statistics">项目统计</li>
      <li nz-menu-item routerLink="/project/setting">设置</li>
    </ul>
  </li>
  <li nz-submenu nzIcon="notification" nzTitle="工作周报">
    <ul>
      <li nz-menu-item routerLink="/matter/assignment">事项管理</li>
      <li nz-menu-item routerLink="/matter/week">周报</li>
      <li nz-menu-item routerLink="/matter/setting">设置</li>
    </ul>
  </li>
</ul>
