<div class="wrap" *ngIf="type==='light'">
  <div nz-row>
    <div nz-col nzSpan="8" class="box light" style="border-radius: 4px 0 0 0"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg" style="border-radius: 0 4px 0 0"></div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" class="box light"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" class="box light" style="border-radius: 0 0 0 4px"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg" style="border-radius: 0 0 4px 0"></div>
  </div>
</div>
<div class="wrap" *ngIf="type==='dark'">
  <div nz-row>
    <div nz-col nzSpan="8" class="box dark" style="border-radius: 4px 0 0 0"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg" style="border-radius: 0 4px 0 0"></div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" class="box dark"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" class="box dark" style="border-radius: 0 0 0 4px"></div>
    <div nz-col nzSpan="8" class="box bg"></div>
    <div nz-col nzSpan="8" class="box bg" style="border-radius: 0 0 4px 0"></div>
  </div>
</div>
